/*
Name: Jonathan Petani
Date: 3/13/2019
HW: HW6
*/
@charset "utf-8";


/* HTML and Body Styles */

html {
   background-color: #ff9999;
}

/* Page Body Styles */
body {
   margin-left: auto;
   margin-right: auto;
   width: 95%;
   max-width: 960px;
   min-width: 640px;
   background-color: #42cef4;
   font-family: Verdana, Geneva, Arial, sans-serif;   
}

/* Page Header Styles */
body > header > img {
   display: block;
   width: 100%;
}

body > header > nav.horizontalNavigation li {
   width: 25%;
}

/* Horizontal Navigation List Styles */

nav.horizontalNavigation > ul > li {
   display: block;
   float: left;
}

nav.horizontalNavigation a {
   background-color: #42f4bf;
   display: block;
   font-family: Champagne, cursive;
   font-size: 1.4em;
   line-height: 1.8em;
   text-align: center;
}  

nav.horizontalNavigation a:link, 
nav.horizontalNavigation a:visited {
   color: #429ef4;
}

nav.horizontalNavigation a:hover, 
nav.horizontalNavigation a:active {
   background-color: yellow;
} 

/* Heading Styles */

h1, h2, h3 {
   text-indent: 1em;
}

h1 {
   font-size: 2.4em;
   line-height: 2.4em;
   font-family: Champagne, cursive;
   letter-spacing: 0.3em;
   text-align: center;
   font-weight: normal;
   color: #f4428f;
}

h2, h3 {
   font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
   padding: 0.5em 0;
}

h2 {
   font-size: 1.3em;
   background-color: #42f4bf;
   color: #af2b65;
}


h3 {
   font-size: 1.1em;
}


/* Paragraph Styles */

p {
   margin: 1em;
   font-size: 0.9em;
}

/* Left Column Styles */

img {
   width: 5%;
   display: block;
}

/* Right Column Styles */

aside {
   background-color: #fff69e;
   height: 700px;
   color: brown;
}


aside > h2 {
   text-align: center;
   background-color: #42f4bf;
   color: #af2b65;
}

dl {
   font-size: 0.9em;
}

dl > dt {
   color: blue;
   margin: 1em;
   font-family: cursive;
}

dl > dd {
   margin: 0 1em 0 1em;
   color: green;
   font-family: cursive;
}

/* Footer Styles */

footer {
   color: purple;
   background-color: #61cc8e;
   font-size: 0.9em;
   padding: 1em 0;
   text-align: center;
}

img#eagle {
	width: 640px;
	height: 500px;
	margin-bottom: -2%;
}

ul {
	height: 15.3em;
}

img#foot {
	height: 10%;
	padding-top: 5px;
}

a {
	color:green
}

ul#facts > li {
	line-height: 1.5em;
}